<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration SYSTEM  
    "hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/net_banking</property> 
        <property name="connection.username">root</property>
        <property name="connection.password">raj</property>
        <property name="connection.pool_size">1</property>
        <property name="show_sql">true</property>
        <mapping class="com.i2i.netbankingApplication.model.Branch"></mapping>
        <mapping class="com.i2i.netbankingApplication.model.Customer"></mapping>
        <mapping class="com.i2i.netbankingApplication.model.Address"></mapping>
        <mapping class="com.i2i.netbankingApplication.model.Account"></mapping>
        <mapping class="com.i2i.netbankingApplication.model.Role"></mapping>
        <mapping class="com.i2i.netbankingApplication.model.UserRole"></mapping>
        <mapping class="com.i2i.netbankingApplication.model.CustomerTransaction"></mapping>
    </session-factory>
</hibernate-configuration>