 .logo{
 padding-top:30px;
 }
 .header-top{
 margin: 0px;
 background: #606060;
 height: 150px;
 }
 .sidemenu{
 background: #606060;
 margin: 0px;
 padding: 0px;
 }
 .main-container {
 margin: 0px;
 padding: 0px;
 }
 .side-nav{
 
 }
 
 .side-nav ul {
 
   list-style: none;
 }

.side-nav ul li {
    
 }
 .pos {
    position: absolute;
    right: 7px;
    top: 116px;
    height: 70px;
    width: 50px;
}
 